@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Play&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url(chrismasbg.jpg);
    background-size: cover;
    /* background-size: 1980px 980px; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Play', sans-serif;
    color: white;
    margin-top: 10rem;
}
h1{
    font-size: 6rem;
}
.container{
    width: 60rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
}
.date{
    margin-top: -2rem;
    font-size: 2rem;
}
span{
    font-size: 2rem;
    
}
.countdown-container{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 0px -10px;
    margin-top: -15rem;
    
}

.bigtext .p1{
    color: #ffffff;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    box-sizing: border-box;
    height: 10rem;
    padding: 10px;
    backdrop-filter: blur(2px);
    border: 0.1px solid rgba(255,255,255,0.25);
    border-radius: 25% 0% 0% 25% ;
    -webkit-box-shadow: 10.5px 14px 8.5px 3px #7a5151;
    -moz-box-shadow: 10.5px 14px 8.5px 3px #ddbfbf;
    box-shadow: 10.5px 14px 8.5px 3px #58584f;
    padding-top: 0.5cm;
}
.bigtext .p2{
    color: #ffffff;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    box-sizing: border-box;
    height: 10rem;
    padding: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 0% 0% 0% 0% ;
    -webkit-box-shadow: 10.5px 14px 8.5px 3px #7a5151;
    -moz-box-shadow: 10.5px 14px 8.5px 3px #ddbfbf;
    box-shadow: 10.5px 14px 8.5px 3px #58584f;
    padding-top: 0.5cm;
}
.bigtext .p3{
    color: #ffffff;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    box-sizing: border-box;
    height: 10rem;
    padding: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 0% 0% 0% 0% ;
    -webkit-box-shadow: 10.5px 14px 8.5px 3px #7a5151;
    -moz-box-shadow: 10.5px 14px 8.5px 3px #ddbfbf;
    box-shadow: 10.5px 14px 8.5px 3px #58584f;
    padding-top: 0.5cm;
}
.bigtext .p4{
    color: #ffffff;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    box-sizing: border-box;
    height: 10rem;
    padding: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 0% 25% 25% 0% ;
    -webkit-box-shadow: 10.5px 14px 8.5px 3px #7a5151;
    -moz-box-shadow: 10.5px 14px 8.5px 3px #ddbfbf;
    box-shadow: 10.5px 14px 8.5px 3px #58584f;
    padding-top: 0.5cm;
}


.box-range{
    padding: 0px 10px;
    width: 25%; 
}
.descrip{
    text-align: center;
    margin-top: -4rem;

}
.big-day{
    /* display: flex; */
    /* flex-direction: row; */
    width: 1000rem;
    height: 200px;
    /* margin-top: 4rem; */

}

.form {
    --width-of-input: 205px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    margin-top: -4.5rem;
    margin-left: 13rem;
   }
   /* styling of Input */
   .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }


   .button {
    display: flex;
    width: 70px;
    margin-top: -1.8rem;
    margin-left: 27rem;
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 10px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   